@model List<LW1.Models.Entities.Person>
@{
    ViewBag.Title = "ListOfPeople";
}

<h2>Список участников опроса</h2>
<button type="button" class="btn btn-default" onclick="location.href='@Url.Action("CreatePerson", "Lab2" )'">
    <span class="glyphicon glyphicon-plus"></span>Добавить человека
</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Наименование</th>
            <th class="text-center">Возраст</th>
            <th class="text-center">#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
            {
                <td>@person.LastName @person.FirstName @person.Patronymi</td>
                <td>@person.Age</td>
                <td>@Html.ActionLink("подробнее","PersonDetails","Lab2",new { personId = person.Id }, null )</td>
            }
    </tbody>

</table>